.alert-slider-sec {
    padding: 12px 0;
    background: linear-gradient(3deg, rgba(66, 102, 178, 1) 0%, rgba(149, 68, 156, 1) 50%, rgba(254, 153, 0, 1) 100%);
    color: white;
    text-align: center;
}

.controls-sec {
    padding: clamp(20px, 5vw, 30px) 0;
    border-bottom: 1px solid #ededed;

    .form-select {
        background-color: transparent;
        border: none;
        outline: none;
    }
}

.main-sec {
    padding: 0;
    .grid-wrapper {
        display: flex;
        gap: 16px;
    }

    .cols-wrapper {
        min-height: calc(100vh - 215px);
        &.padding {
            padding: 20px;
        }
    }
    .sidebar {
        width: 100%;
        max-width: 400px;
    }
    .span {
        font-size: clamp(16px, 4vw, 20px);
    }
    .folder-wrapper {
        display: flex;
        align-items: center;
        gap: clamp(10px, 2.5vw, 15px);

        .circle {
            padding: 0 10px;
            border-radius: 10px;
            background-color: var(--blue);
            font-size: 12px;
            color: white;
            display: grid;
            place-items: center;
        }
    }
    .welcome-card {
        .content-wrapper {
            display: flex;
        }
        .btn-group {
            display: flex;
            gap: 15px;
            flex-wrap: wrap;
            font-weight: 600;

            .tab-btn {
                padding: 12px 24px;
                border-radius: 6px;
                display: block;
                border: 1px solid transparent;
            }

            .btn-secondary {
                background-color: var(--secondary);
                color: black;
            }

            .btn-white {
                background-color: white;
                color: var(--blue);
            }

            .btn-outline {
                color: white;
                border-color: white;
            }
        }
    }

    .client-acc-info-wrapper {
        .content-wrapper {
            max-width: 600px;

            p {
                font-size: clamp(14px, 2vw, 16px);
            }
        }
    }
    .step-card {
        border-radius: 20px;
        padding: 30px;
        background-color: #f9f9fa;

        .step-list {
            li {
                > span {
                    font-size: clamp(16px, 3vw, 22px);
                }

                .step {
                    display: flex;
                    align-items: center;
                    gap: 15px;

                    .icon {
                        background-color: var(--blue);
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        font-size: 22px;
                        min-width: 47px;
                        height: 47px;
                    }

                    .content {
                        span {
                            font-size: clamp(14px, 2.5vw, 20px);
                        }

                        p {
                            font-size: clamp(13px, 2.3vw, 16px);
                        }
                    }
                }

                .step-1 {
                    margin-bottom: 67px;
                    position: relative;

                    .icon {
                        &::after {
                            content: "";
                            position: absolute;
                            bottom: -57px;
                            left: 22px;
                            background-color: #ededed;
                            width: 2px;
                            height: 50px;
                        }
                    }
                }
            }
        }
    }

    .amazon-wrapper {
        padding: 25px 0;

        p {
            font-size: clamp(14px, 2vw, 18px);

            a {
                color: var(--blue);
                text-decoration: underline;
            }
        }

        .amazon-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 20px;
            border-left: 1px solid var(--primary);

            p {
                font-size: clamp(12px, 1.8vw, 16px);
            }
        }
    }
    .acc-setting-card {
        .title {
            font-size: clamp(16px, 3.5vw, 22px);
        }

        .input-wrapper {
            margin-bottom: 0;
            .form-control {
                background-color: #ffffff;
                border: none;
                border-radius: 8px;
                padding: 18px 20px;
                color: rgba(#333, 0.6);
                font-size: clamp(13px, 3.5vw, 18px);
                &::placeholder {
                    color: rgba(#333, 0.6);
                }
                &.outline {
                    border: 1px solid var(--gray);
                }
            }
        }
        .custom-hr {
            border-bottom: 1px solid #ededed !important;
            margin-bottom: 24px;
        }
    }
    .pricing-card {
        padding: 42px 28px;
        background-color: var(--gray-light-2);
        border-radius: 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .badge {
            border: 1px solid #c2c2c2;
            border-radius: 24px;
            padding: 2px 16px;
            line-height: 30px;
            color: var(--gray-3);
            width: fit-content;
        }

        .title {
            font-size: clamp(20px, 4vw, 24px);
        }
        .price {
            span {
                font-size: clamp(35px, 4vw, 40px);
            }
        }
        p {
            font-size: clamp(13px, 4vw, 16px);
        }
        .custom-hr {
            border-bottom: 1px solid var(--blue);
            opacity: 0.1;
        }
        .list-with-icon {
            font-size: clamp(13px, 4vw, 16px);
        }
        .btn {
            max-width: 100%;
        }
        &.featured {
            .badge {
                color: var(--bright-gray);
            }
            p,
            .list-with-icon {
                li {
                    &::before {
                        filter: brightness(100);
                    }
                }
            }
            .custom-hr {
                border-color: white;
            }
            .btn {
                background-color: white;
                color: var(--blue);
                &:before {
                    background-image: url("./../../assets/img/icons/btn-blue-arrow.svg");
                }
            }
        }
    }
    .content-search-wrapper {
        margin-bottom: clamp(45px, 5vw, 60px);

        .input-wrapper {
            margin-bottom: 0;

            &::before {
                content: "";
                position: absolute;
                background-image: url("./../../assets/img/icons/search-ico.svg");
                background-repeat: no-repeat;
                background-position: center;
                width: 26px;
                height: 26px;
                left: 18px;
                top: 18px;
                filter: brightness(1.5);
            }

            .form-control {
                background-color: var(--gray-light-2);
                border-radius: 61px;
                border: 0.6px solid #c8daff;
                padding-left: 58px;
                height: 54px;

                &::placeholder {
                    font-size: clamp(14px, 3.5vw, 18px);
                }
            }
        }
    }
    .help-card-wrapper {
        .icon {
          border-radius: 50px;
          width: 50px;
          height: 50px;
        }
    
        .title {
          font-size: clamp(18px, 3.5vw, 22px);
        }
    
        p {
          font-size: clamp(13px, 3.5vw, 16px);
        }
      }
}

.nav-tabs {
    .nav {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #ddd;
        padding: 0 20px;

        .nav-item {
            .nav-link {
                display: inline-block;
                padding: 20px 20px 18px;
                color: rgba(#333, 0.6);
                text-decoration: none;
                border-bottom: 3px solid transparent;
                transition: 0.3s ease;
                font-weight: bold;

                &:hover,
                &.active {
                    border-color: var(--blue);
                    color: var(--blue);
                }
            }
        }
    }
}

.tab-content {
    .tab-pane {
        display: none;
        padding: 30px 20px;

        &.active {
            display: block;
        }
    }
}

@media (max-width: 992px) {
    .main-sec {
        .cols-wrapper {
            min-height: unset;
            position: relative;
            z-index: 1;
            &::before {
                content: "";
                position: absolute;
                width: 200%;
                height: 100%;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                z-index: -1;
                background-color: white;
                pointer-events: none;
            }
        }
        .grid-wrapper {
            flex-direction: column;
        }
        .welcome-card {
            .content-wrapper {
                flex-wrap: wrap;
                gap: 20px;
            }
        }
    }
}
