.btn {
  font-size: 16px;
  padding: 25px 30px;
  align-items: center;
  gap: 5px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
  font-weight: 700;
  position: relative;
  max-width: fit-content;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 2px;
  &.btn-sm {
    padding: 14px 24px;
    font-size: 14px;
    transition: 0.3s;
  }
}

.btn-primary {
  color: white;
  background-color: var(--primary);
  &:hover {
    color: var(--primary);
    box-shadow: inset 500px 0 0 0 white;
  }
}

.btn-light {
  color: var(--primary);
  background-color: white;
  &:hover {
    color: white;
    box-shadow: inset 500px 0 0 0 var(--primary);
  }
}
.btn-dark {
  color: white;
  background-color: var(--gray);
  &:hover {
    color: var(--gray);
    box-shadow: inset 500px 0 0 0 white;
  }
}

@media (max-width: 576px) {
  .btn {
    padding: 16px 20px;
    &.no-arrow {
      padding: 16px 20px;
    }
    &::before {
      right: 12px;
    }
  }
}

@media (max-width: 425px) {
  .btn {
    padding: 14px 18px;
    &.no-arrow {
      padding: 14px 18px;
      &::before {
        display: none;
      }
    }
  }
}
