.footer {

    .footer-top {
        padding: clamp(45px, 7vw, 80px) 0;

        .menu {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            li {
                a {
                    padding: 20px 10px;
                    color: white;
                    transition: all .3s ease;
                    background-color: var(--gray);
                    display: block;
                    text-align: center;
                    font-size: 18px;
                    font-weight: bold;
                    height: 100%;
                    &:hover {
                        background-color: var(--primary);
                    }
                }
            }
        }
    }

    .footer-bottom {
        position: relative;
        padding: 30px 0;
        border-top: 1px solid #1E1F22;
        .footer-inner {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;
        }

        .footer-bottom-menu {
            gap: 30px;
            li {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 18px;
                    right: -14px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: white;
                }
    
                &:last-child {
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width:991px) {
    .footer {
        .footer-bottom {
            background-color: var(--blue);
            .footer-inner {
                padding: 0;
            }
        }
    }
}

@media (max-width:767px) {
    
}

@media (max-width:575px) {
    .footer {
        
    }
}