@font-face {
  font-family: "Gilroy-Medium";
  src: url('./../fonts/GilroyMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url('./../fonts/GilroyBold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Extrabold";
  src: url('./../fonts/GilroyExtraBold.ttf') format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

// classes
.font-gilroy-medium {
  font-family: "Gilroy-Medium", sans-serif !important;
  font-weight: 500;
}
.font-gilroy-bold {
  font-family: "Gilroy-Bold", sans-serif !important;
  font-weight: 700;
}
.font-gilroy-extrabold {
  font-family: "Gilroy-Extrabold", sans-serif !important;
  font-weight: 700;
}